body{
    font-family: 'Bellefair', serif;
    color: black;
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}


h1 {
    font-weight:400;
    padding-top: 70px;
    font-size: 3em;
}

h2{
    font-weight:400;
    font-size:1.5em;
}

ul.homepageul {
    padding:170px 5px 100px;
}


li {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.aboutme{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.navbar-inpage{
    text-decoration: none;
    color: black;
    padding-top: 170px;
    padding-bottom: 100px;
    text-align: center;
}

h2.subheader {
    font-weight: 700;
    margin-top:20px;
    margin-bottom:10px;
    font-size: 1.3em;
}

p{
    font-size:1.1em;
    line-height:1.5;
}

a.video{
    text-decoration: underline;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
