@import url("https://fonts.googleapis.com/css?family=Bellefair");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("font-awesome/css/font-awesome.min.css");

html{
    font-family: 'EB Garamond', sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

body{
    padding: 0 10px;
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 9em;
}

.homepage {
    font-family: 'Bellefair', serif;
}

.blog-container {
    width: 90%;
    margin: 0 auto;
}

.blog-links {
    text-decoration: underline;
    font-size: 1.5em;
}

.page-wechat main {
    margin-top: 0;
}



h1 {
    font-weight:400;
    font-size: 
    3.5em;
}

h1.aboutmetitle{
    margin-top: 30px;
}

div.topicon{
    margin-top:50px;
    margin-bottom:50px;
}

h2{
    font-weight:400;
    font-size:2em;
}

ul.project-list {
    display: block;
    padding-left:0;
    font-size: 1.3em;
}


li {
    display: block;
    margin-right: 50px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.aboutme{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.aboutmepic{
    display: block;
    max-width: 90%;
    margin: auto;
}

.projects{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.projects a{
    text-decoration: underline;
}

.contact li{
    display: inline-block;
}

.contact ul{
    padding-left:0;
}

.navbar-homepage {
    padding:170px 5px 100px;
}

.navbar-inpage{
    text-decoration: none;
    color: black;
    padding-top: 10em;
    margin-left: 30%;
}

.navbar-homepage li,
.navbar-inpage li {
    display: inline-block;
}

h2.subheader {
    margin-top:20px;
    margin-bottom:10px;
    font-size: 1.3em;
}

p{
    font-size:1.3em;
}

a.video, a.link{
    text-decoration: underline;
}

.qrcode{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

/* Mobile */
@media only screen and (max-width: 667px) { 
    html {
        font-size:12px;
    }

    li {
    margin-right: 30px;
    }



}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


